<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost;database=DDI;User Id=sa;Password=Password01" />
  </connectionStrings>
  <appSettings>
    <!--log.
    minimumLogLevel should be one of these: Verbose, Information, Warning, Error, Critical-->
    <add key="log.minimumLogLevel" value="Verbose" />
    <!--MinimumLogLevel should be one or multiple (comma-delimited) of these: None,MongoDb,Console,File-->
    <add key="log.destinations" value="File" />
    <!--log.dirPath the destination file name-->
    <add key="log.dirPath" value="c:\applogs" />
    <!--log.sensuAlertsEmailAddress the Sensu alerts notification address-->
    <add key="log.sensuAlertsEmailAddress" value="sps_test_alerts@ultimatesoftware.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Version" value="Fake Test Version" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>